<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question-Answering with Pdfs</title>
</head>
<body>
    <h2>You have successfully uploaded your Pdf files 😉</h2>
    <p>Now  you can ask question, related to your pdf files, feel free to ask.</p>
<br><br><br>
<p><b>Write your question</b></p><br>
<form action="/ques_ans" method="post">
<input type="text" name="ques">
<button type="submit">Get Answer</button>
<br><br>
<h2>Your answer is:</h2>
<p>{{ answer }}</p>
</form>
</body>
</html>